/* pinnedNote component styles */
.pinnedNoteDiv {
  width: 3.75rem;
  height: 3.75rem;
  margin: 0.2rem;
  position: relative;
}
.pinnedNote {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  background-color: #f5f5f5;
}
.pinnedNoteShadow {
  position: absolute;
  left: 0;
  top: 0;
  height: 105%;
  width: 105%;
  opacity: 0.8;
  background: linear-gradient(to top, black 40%, transparent);
  z-index: -1;
  filter: blur(2px);
}
.pinnedNoteContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.pinnedNoteTextDiv {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: flex-start;
}
.pinnedNoteText {
  font-family: 'Permanent Marker', cursive;
  font-size: 0.8rem;
  margin: 0 auto;
  color: #000000;
}
@media(min-width: 500px) {
  .pinnedNoteDiv {
    width: 3.8rem;
    height: 3.8rem;
    margin: 0.7rem 0.7rem 0 0;
  }
  .pinnedNoteText {
    font-size: 0.8rem;
  }
}
@media(min-width: 1200px) {
  .pinnedNoteDiv {
    width: 4.2rem;
    height: 4.2rem;
    margin: 1rem 1rem 0 0;
  }
  .pinnedNoteText {
    font-size: 0.8rem;
  }
}