body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 18px;
  margin: 0px auto;
  width: 100%;
}
body {
  margin: 0px auto;
  width: 100%;
  height: auto;
  font-family: 'Nunito', sans-serif;
  background-image: url('./img/background-texture.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
section {
  width: 100%;
  margin: 0px auto;
}
.divs-sections {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  width: 90vw;
  margin: 0px auto;
  padding: 80px 0px;
  max-width: 540px;
}
h1,
h2,
h3,
h4,
p,
div {
  margin: 0px;
  text-align: center;
}
a,
input,
textarea,
button {
  margin: 0px;
  outline: none;
  text-decoration: none;
  border: none;
  color: #2b2b2b;
}
h3 {
  font-weight: 800;
  font-size: 2em;
  color: #bf436a;
  margin: 0px auto 30px auto;
  width: 100%;
}
img {
  width: 100%;
  height: auto;
  margin: 0px;
}
figure {
  width: 100%;
  height: auto;
  margin: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

/*styles*/
header {
  width: 100%;
}
.header-div {
  width: 100%;
  height: 65px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}
.title-div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 180px;
  height: 60px;
  margin: 60px 10px 0px 20px;
}
.title {
  font-family: 'Special Elite';
  font-size: 36px;
  color: #ffffff;
  text-shadow: 1px 2px 3px #686767;
}
.second-line {
  align-self: flex-end;
}
.main-section {
  margin: 65px 0px 0px 0px;
  display: flex;
}
.main-section-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.photo-div {
  max-width: 200px;
  margin: 35px auto;
  transform: rotate(350deg);
}
.photo {
  box-shadow: 10px 10px 10px #333333;
}
.photo:hover,
.stickNote:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, -1px) rotate(-2deg);
  }
  40% {
    transform: translate(2px, 2px) rotate(5deg);
  }
  60% {
    transform: translate(2px, 2px) rotate(5deg);
  }
  80% {
    transform: translate(2px, 2px) rotate(5deg);
  }
  100% {
    transform: translate(2px, 2px) rotate(0deg);
  }
}
.nav-bar {
  margin: 0px;
  display: flex;
  justify-content: center;
}
.nav-notes-div {
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 95%;
}
.stickNote-div {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.stickNote {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 10px #333333;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.stickNoteGlue {
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.063);
  margin-bottom: 20px;
}
.noteText {
  font-family: 'Special Elite';
  font-size: 14px;
}
.about-stick {
  transform: rotate(2deg);
}
.curriculo-stick {
  transform: rotate(1deg);
}
.portfolio-stick {
  transform: rotate(3deg);
}

/*about-section*/
.card {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ffffff 0%,
    #f3f3f3 50%,
    #ededed 51%,
    #ffffff 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #f3f3f3 50%,
    #ededed 51%,
    #ffffff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #f3f3f3 50%,
    #ededed 51%,
    #ffffff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 100%;
  height: auto;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  margin: 10px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  padding: 10px 10px;
}
.about h1 {
  color: #bf436a;
  font-weight: 800;
  line-height: 1.1em;
  font-size: 1.6em;
  text-align: left;
  width: 230px;
}
.different-font {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
}
.about p {
  margin: 10px auto;
}
.img-icons {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}
.img-icons figure {
  display: flex;
  justify-content: center;
  align-content: center;
}
.img-icon {
  width: 75px;
}
.font-icon {
  width: 60px;
  height: 60px;
  background-color: #bf436a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px auto;
  color: white;
  font-size: 1.5em;
}

/*video-section*/
.watch {
  width: 100%;
  background-color: #bf436a;
}
.watch-div {
  color: white;
  height: 100%;
  align-items: center;
}
.watch-div h3 {
  color: white;
}
.watch-div h4 {
  font-weight: 600;
  margin: 30px auto 10px auto;
}
.watch-div p {
  font-weight: 400;
  font-size: 0.9em;
  margin: 0px auto;
}
.video-div {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*price-section*/

.price-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: 10px auto;
  border-radius: 5px;
  padding: 5px 20px;
  max-width: 200px;
  min-height: 180px;
  background-color: #bf436a;
  font-weight: 700;
  color: white;
}
.or-div {
  width: 100%;
  color: #bf436a;
  font-weight: 800;
  font-size: 1.5em;
}

/*constact-section*/
.contact {
  background-color: #bf436a;
  color: white;
}
.contact-div h3 {
  font-size: 1.8em;
  color: white;
}
form {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}
form label {
  display: flex;
  flex-flow: row wrap;
  margin: 10px auto 20px auto;
  font-weight: 600;
  max-width: 450px;
  width: 100%;
  text-align: left;
}
input[type='email'],
textarea {
  padding: 5px;
  color: grey;
  font-family: arial, sans-serif;
  font-size: 0.8em;
  width: 100%;
  text-align: left;
  border-radius: 5px;
}
.button {
  width: 50%;
  margin: 10px auto;
}
.submit {
  width: 100%;
  height: 40px;
  background-color: white;
  color: #bf436a;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 1em;
  min-width: 100px;
  max-width: 200px;
  cursor: pointer;
  border-radius: 5px;
}
.submit:active {
  transform: translateY(2px);
  box-shadow: 3px 3px 5px 0.999 inset;
}

/*Footer: Copyright Styles*/
.copyright-div {
  font-size: 0.7em;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}
.copyright-div h4 {
  margin: 5px auto;
  font-size: 1.3em;
  color: #bf436a;
}
.copyrigh-div a,
.copyright-div p {
  color: #bf436a;
  font-size: 1em;
}

@media only screen and (min-width: 595px) {
  .cards {
    max-width: 550px;
  }
  .title-div {
    justify-content: flex-start;
    width: 500px;
    min-height: 0;
  }
  .about h1 {
    margin: 40px 0px 5px 0px;
    width: 385px;
  }
  .price-div {
    align-items: center;
  }
  .price-card {
    margin: 40px 0;
  }
  .or-div {
    width: 10%;
  }
}

@media only screen and (min-width: 750px) {
  .nav-links-mobile {
    display: none;
  }
  .menu-button {
    display: none;
  }
  .nav-links-desktop {
    display: flex;
    position: static;
  }
  .nav-links-desktop a {
    padding: 10px;
    border-top: none;
  }
}

@media only screen and (min-width: 1175px) {
  .about-div {
    min-height: 500px;
  }
  .cards {
    max-width: 1175px;
  }
  .title-div {
    width: 100%;
    justify-content: center;
  }
  .about h1 {
    font-size: 2em;
    margin: 0px;
    width: 660px;
  }
}
