.languageModalDiv {
 position: fixed;

}
/* .languageModal {

} */
.languageModalHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 97%;
  margin: 0 0.1rem;
}
.languageModalHeader p{
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
  margin: 0 auto;
  color: #000000;
}
.closeIcon {
  cursor: pointer;
}
.portugueseDiv, .englishDiv {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.portugueseDiv p, .englishDiv p {
  font-family: 'Permanent Marker', cursive;
  margin: 0.3rem 1rem;
  text-align: left;
}
.languageModalMain {
  display: flex;
  flex-flow: row;
  justify-content: center;
  }
.languageModalMain p {
  cursor: pointer;
}
@media (min-width: 900px) {

}
@media (min-width: 1200px) {

}
