.projectDiv {
  margin: 20px auto 0px auto;
}
.projectList {
  padding: 0px;
  margin: -20px auto 10px auto;
}
.project h5 {
  font-size: 1rem;
  margin: 0px auto 20px auto;
}
.project p {
  margin: 0px auto;
}
